.mobile{
    display: block;
    background-color: greenyellow;
    font-size: 20px;

}
@media(min-width:760px){
    .mobile{
        display: none;
    }
    .tab{
        display: block;
        background-color: lightgreen;
        font-size: 30px;
    }
    .lappy{
        display: none;
    }
}
@media(min-width:1024px){
    .mobile{
        display: none;

    }
    .tab{
        display: none;
    }
    .lappy{
        display: block;
        background-color: magenta;
    }
}
@media(min-width:1510px){
    .mobile{
        display: none;
    }
    .tab{
        display: none;
    }
    .lappy{
        display: block;
        background-color: lightpink;
        font-size:20px;
    }
}