.name{

    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}
body{
    background-color: honeydew;
    width: 300px;
    height:500px ;
    padding-left:30%;
    border-left:rgb(212, 84, 84) 20px solid;
    
}
.pass{
    background-color: rgb(19, 3, 3);
    color:white; 
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    background-color: rgb(226, 17, 86);
    width: 180px;
    display: flex;
    align-items: center;
}
img{
    border-radius: 5px;
    height: 180px;
    width: 180px;
}
